# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.os

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python
*.pyc
*.pyo

# Scons
.sconsign*

# ipynb notebook checkpoints directories
*/.ipynb_checkpoints*

*.swp
bin/
build/
*.dat

# Ignore tar.gz files
*.tar.gz*

# Ignore specific directories
borealis_env3.9/
cppzmq/
libsodium-stable/
libzmq/
ntp-4.2.8p13/
protobuf/
uhd/

# Ignore specific files
borealisscreenrc
hdw.dat.wal
install_log.txt

